/* ---------------------------------
COLOR PLATTE
Bright Green: #2ecc71
Dark Green: #27ae60
Bright White: #f9f9f9
Dark White: #f1f1f1
Bright Black: #555
Dark Black: #333
--------------------------------- */

/* --------------------------------- */
/* BASTIC SETUP */
/* --------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #555;
	background-color: #f9f9f9;
	overflow-x: hidden;
}

/* color for users page selection/mark */
::selection {
	color: #f9f9f9;
	background-color: rgba(46, 204, 113, 0.7);
}

/* --------------------------------- */
/* REUSABLE */
/* --------------------------------- */
section { padding: 70px 0; }

.box { padding: 1%; }

/* ----- PARAGRAPHS ----- */
.long-copy {
	width: 70%;
	margin-left: 15%;
	line-height: 145%;
}

.box p { 
	line-height: 145%;
	font-size: 90%;
}

/* ----- LAYOUT ----- */
.row {
	max-width: 1140px;
	margin: 0 auto;
}

.col-4 {
	float: left;
	width: 25%;
}

.col-3 {
	float: left;
	width: 33.33%;
}

.col-2 {
	float: left;
	width: 50%;
}

.col-75 {
	float: left;
	width: 75%;
}

.clearfix::after {
	display: table;
	content: "";
	clear: both;
}

/*  ----- HEADINGS ----- */
h1,
h2,
h3 { 
	font-weight: 300; 
	text-transform: uppercase;
}

h1 { 
	margin-bottom: 20px;
	font-size: 300%;
	word-spacing: 4px;
	letter-spacing: 1px;
	color: #f1f1f1;
}

h2 {
	margin-bottom: 30px;
	font-size: 180%;
	word-spacing: 2px;
	letter-spacing: 1px;
	text-align: center;
}

h2:not(.updates-header)::after {
	content: " ";
	display: block;
	height: 2px;
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
	border-bottom: 2px solid #2ecc71;
}

h3 {
	margin-bottom: 15px;
	font-size: 130%;
}
/* ----- LINKS ----- */
a:link,
a:visited {
	text-decoration: none;
	color: #333;
	transition: color 0.2s;
}

a:hover,
a:active {
	color: #2ecc71;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type="submit"] {
	display: inline-block;
	padding: 10px 30px;
	border-radius: 200px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 80%;
	font-weight: 200;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
	/* button type */
	cursor: pointer;
	outline: none;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
	margin-right: 15px;
	border: 1px solid #2ecc71;
	color: #f1f1f1;
	background-color: #2ecc71;
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #2ecc71;
	color: #2ecc71;
}

.btn:hover,
.btn:active {
	background-color: #27ae60;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"] {
	border: 1px solid #27ae60;
}

.btn-ghost:hover,
.btn-ghost:active {
	border: 1px solid #27ae60;
	color: #f1f1f1;
}

.btn-app:link,
.btn-app:visited { border: none; }

.btn-app img {
	width: auto;
	height: 50px;
	margin-right: 10px;
}

/* --------------------------------- */
/* HEADER */
/* --------------------------------- */
header {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.imgur.com/KgHepYy.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}


header p { 
	margin-bottom: 40px;
	letter-spacing: 1px; 
	color: #f1f1f1;
}

.hero-content {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

nav { padding-top: 20px; }

.logo { 
	display: inline-block;
	float: left;
	margin-top: 10px;
	max-width: 150px;
	height: auto;
}

/* ----- MAIN NAVIGATION ----- */
ul.main-nav {
	list-style-type: none;
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

ul.main-nav { float: right; }

ul.main-nav li { display: inline-block; }

ul.main-nav li a:link,
ul.main-nav li a:visited {
	padding-bottom: 2px;
	margin: 0 15px;
	border-bottom: 2px solid transparent;
	text-decoration: none;
	font-size: 80%;
	font-weight: bold;
	color: #f1f1f1;
	transition: border-bottom 0.2s, color 0.2s;
}

ul.main-nav li a:hover,
ul.main-nav li a:active { 
	border-bottom: 2px solid #2ecc71; 
	color: #f9f9f9;
}

/* remove border for the last item */
ul.main-nav li:last-child a:hover,
ul.main-nav li:last-child a:active { 
	border-bottom: 2px solid transparent; 
	color: #2ecc71;
}

/* create right white border */
ul.main-nav li:nth-of-type(3)::after {
	display: inline-block;
	content: " ";
	width: 1px;
	height: 18px;
	margin-left: 15px ;
	margin-right: 10px ;
	vertical-align: middle;
	background-color: #f1f1f1;
}

/* user profile image */
img.profile-img {
	display: inline-block;
	width: 40px;
	height: auto;
	margin-right: 10px;
	vertical-align: middle;
	border-radius: 50%;
}

/* white down arrow icon */
ion-icon[name="chevron-down-outline"] {
	margin-left: 5px;
	margin-bottom: 4px;
	vertical-align: middle;
	font-size: 90%;
}

/* dropdown */
.dropdown-content {
	position: absolute;
	display: none;
	min-width: 160px;
	padding-top: 10px;
	z-index: 1;
}

/* creates the tooltip */
.dropdown-content::before {
	content: " ";
	position: absolute;
	bottom: 85%;
	margin-left: 45%;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #f1f1f1 transparent;
}

li.dropdown div.dropdown-box { 
	border-radius: 5px; 
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
	background-color: #f9f9f9;
}

li.dropdown div.dropdown-content a {
	display: block;
	padding: 5px;
	color: #b1b1b1;
}

div.dropdown-box a:link:first-child,
div.dropdown-box a:visited:first-child { color: #333; }

.dropdown:hover .dropdown-content { display: block; }

.dropdown:hover .drop-btn { color: #2ecc71; }

/* --------------------------------- */
/* FEATURES */
/* --------------------------------- */
.section-feature .long-copy { margin-bottom: 30px; }

ion-icon[name="phone-portrait-outline"],
ion-icon[name="play-circle-outline"],
ion-icon[name="cloud-download-outline"] {
	margin-bottom: 10px;
	font-size: 250%;
	color: #2ecc71
}

/* --------------------------------- */
/* GALLERY */
/* --------------------------------- */
.gallery-section { padding: 0; }

.gallery-container {
	list-style-type: none;
	width: 100%;
}

.gallery-container li {
	display: block;
	float: left;
	width: 25%;
}

.gallery-image {
	width: 100%:
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.gallery-image img {
	width: 100%;
	height: auto;
	transform: scale(1.15);
	opacity: 0.7;
	transition: transform 0.5s, opacity 0.5s;
}

.gallery-image img:hover {
	transform: scale(1.06);
	opacity: 1;
}

/* --------------------------------- */
/* STEPS */
/* --------------------------------- */
.steps-section { background-color: #f7f7f7; }

.steps-box { margin-top: 30px; }

.steps-box:first-child { 
	padding-right: 3%;
	text-align: right; 
}

.steps-box:last-child { 
	margin-top: 70px;
	padding-left: 3%;
	text-align: left; 
}

.works-steps {
	list-style-type: none;
	margin: 0;
	padding: 0;
	counter-reset: section;
}

.works-steps li { 
	margin-bottom: 40px;
	font-size: 95%; 
}

.works-steps li:last-child { 
	margin-bottom: 0;
	margin-top: 70px; 
}

.works-steps li::before { 
	counter-increment: section;
	content: counter(section) " ";
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 20px;
	padding: 10px;
	border: 2px solid #2ecc71;
	border-radius: 50%;
	text-align: center;
	font-size: 150%;
	color: #2ecc71;
}

.works-steps li:last-child::before { content: none; }

.mockup-img { 
	display: inline-block;
	width: 40%;
	height: auto;
}

/* --------------------------------- */
/* PLANS */
/* --------------------------------- */
.plans-section .row .long-copy { 
	text-align: center; 
	margin-bottom: 30px;
}
.plans-section .row:last-child { 
	width: 100%;
	margin-left: 25%;
}

.plan-box {
	width: 30%;
	float: left;
	margin-left: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 1px #efefef;
	background-color: #fcfcfc;
}

.plan-box:first-child { opacity: 0.8; }

.plan-box div { padding: 15px; }

.plan-box div:last-of-type { text-align: center; }

.plan-box div:first-of-type { 	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #f1f1f1;	
	background: linear-gradient(to left, rgba(46, 204, 113, 0.8), rgba(46, 204, 113, 0.9));
 }

.plan-box h3 { 
	margin-bottom: 0; 
	font-size: 100%;
}

.plan-box h3 { text-transform: capitalize; }

.plan-price {
	margin: 10px 0;
	font-size: 240%; 
	color: #f1f1f1;
}

.plan-price span { font-size: 35%; }

.plan-desc { font-size: 70%; }

.plan-box ul { list-style-type: none; }

.plan-box ul li { padding: 10px 0; }

.plan-box ul li ion-icon { 
	margin-bottom: 2px;
	vertical-align: middle;
	color: #2ecc71;
}

.plan-box ul li:last-child { margin-bottom: 30px; }

/* --------------------------------- */
/* CONTACT */
/* --------------------------------- */
.contact-section { background-color: #f7f7f7; }

form { 
	width: 50%; 
	margin: 0 auto;
	padding: 10px;
}

form .row { padding: 5px 0; }

form span { font-size: 70%; }

label { vertical-align: middle; }

input[type="text"],
input[type="email"],
select,
textarea {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #efefef;
	transition: border 0.2s;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
select:focus, 
textarea:focus { border: 1px solid #2fcc71; }

input[type="checkbox"] { margin: 10px 5px 10px 0; }

textarea { 
	height: 150px; 
	resize: none;
	font-family: Arial, Sans-Serif;
}

/* --------------------------------- */
/* UPDATES */
/* --------------------------------- */
.updates-section {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.imgur.com/ajVHPka.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 60vh;
}

.updates-text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.updates-header,
.updates-header + p { color: #f1f1f1; }

.updates-header + p { margin-bottom: 30px; }

.updates-header { font-size: 250%; }

.updates-header span { 
	text-transform: capitalize;
	color: #2ecc71;
}

/* --------------------------------- */
/* FOOTER */
/* --------------------------------- */
footer { 
	padding: 40px 0;
	background-color: #1A1616; 
}

footer p {
	margin: 10px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 65%;
	color: #f1f1f1;
	opacity: 0.6;
}

.logo-footer {
	display: inline-block;
	width: 100px;
	height: auto;
	opacity: 0.6;
}

footer .row:first-child {
	padding: 20px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

footer ul { 
	list-style-type: none; 
	margin-top: 5px;
	opacity: 0.6;
}

footer ul li { 
	font-size: 75%; 
	color: #f1f1f1; 
}

footer ul li:first-child { 
	text-transform: uppercase;
	font-weight: 400; 
}

footer ul li a:link,
footer ul li a:visited {
	display: inline-block;
	margin-top: 5px;
	color: #f1f1f1;
}

footer ul li a:hover,
footer ul li a:active { color: #2ecc71; }

.social-nav ul { float: right; }

.social-nav ul li:first-child { display: block; }

.social-nav ul li { 
	display: inline-block; 
	margin-right: 10px;
}
.social-nav ul li a { font-size: 170%; }